body {
    background: #f5d9df;
    font-family: 'Nunito', sans-serif;
}


h2 {
    font-weight: 200;
}
.blurb h2 {
    color: #ea1c2c;
    font-weight: 200;
    font-size: 2.5rem;
}


.blurb p {
    color: #f498b8;
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 2;
}
.blurb ul {
    color: #f498b8;
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 2;
}
.blurb span {
    color: #f498b8;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 2; 
}
.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

a .icon {
    color:#f498b8;
    font-size: 2rem;
    line-height: 2;

} 

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
}

#mainNavbar .nav-link {
    color: white;
}
#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}
#headingGroup span {
    color: #ea1c2c;
    
}

#headingGroup h1 {
    font-weight: 200;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222); 
    transition: background 500ms;
}

form {
    color:#f498b8;
    font-size: 1.125rem; 
    font-weight: 200;
}
.btn-pink {
    background: #f498b8;
    color: white;
    border: 2px solid #f498b8;
    
}
.btn-pink:hover {
    background: white;
    border: 2px solid #f498b8;
    color:#ea1c2c;
}

footer {
    color: #f498b8;
    font-weight: 200;
    font-size: 1.125rem;
    
}
#mainFooter .footer-link {
    color: white;
    text-decoration: none;
}
#mainFooter .footer-link:hover {
    color: #ea1c2c;
}
.nav > li{
    padding-left:20px;
    padding-right:20px;
  }
  

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f498b8;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f498b8;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #f498b8;
}
.form-control {
  background-color: #f5d9df;
  border-color: #ea1c2c;
  border-radius: 5px;

}
/*change the font size to be smaller at the smaller screen size */
@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 200;
        font-size: 3rem;
    }

}

